
* {
    font-family: 'Cabin', sans-serif;
  }

  h5 {
    color: #ffc000;
  }

  h3 {
    color: rgb(101, 38, 119);
    font-weight: bold;
  }

  hr {
    background-color: rgb(101, 38, 119);
    width: 200px;
    margin: 15px auto;
    height: 5px !important;
  }
  .footer-main {
    padding-top: 90px;
  }

  .address-main>div.col-lg-4 {
    border-bottom: dotted 1px #999;
  }

  .address-box {
    padding: 10px 0;
    margin-bottom: 30px;
  }

  .add-icon {
    float: left;
    width: 60px;
    display: inline-block;
    padding: 0px 5px;
  }

  .address-box .add-icon {
    background: #27303b;
    height: 75px;
    line-height: 75px;
    width: 75px;
    margin-right: 20px;
    text-align: center;
  }

  .add-icon img {
    width: 100%;
  }

  .address-box .add-icon img {
    max-width: 40px;
  }

  .add-content {
    padding-left: 70px;
  }

  .add-content h5 {
    font-size: 17px;
    color: #ffffff;
    padding: 0;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .add-content p {
    font-size: 13px;
    color: #999999;
    font-weight: 300;
  }

  .add-content p a {
    font-size: 14px;
    color: #999999;
    font-weight: 300;
    word-wrap: break-word;
  }

  .add-content p a:hover {
    color: #ffb32d;
  }

  .email {
    margin-left: 0;
    margin-bottom: 5px;
    padding: 5px;
    border: 2px solid white;
    border-radius: 3px;
  }

  .email:hover {
    border: 2px solid #ffc000;
  }

  .submit-email-btn {
    height: 25px;
    width: 130px;

    border-radius: 5px;
    border: 2px solid white;
    background-color: #ffc000;
    color: white;
  }

  .submit-email-btn:hover {
    color: #000;
    border: 3px solid #ffc000;
    background-color: #fff;
    transition: 0.5s;
  }

  .links {
    padding: 2px;
    margin: 2px;
    color: #fff;
    cursor: pointer;
  }

  .links:hover {
    color: #ffc000;
  }
  /* let's design icon */
  i {
    font-size: 50px;
    margin-bottom: 15px;
    color: rgb(101, 38, 119);
  }
  #logo {
    margin-left: 15px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 6px;
  }

  #logo span {
    color: #ffc000;
  }

  #logo span1 {
    font-size: 30px;

  }

  #menu:hover {
    color: white;
  }

  #name {
    color: rgb(101, 38, 119);
  }
  
