
 /* navabr css start*/
 #logo {
  margin-left: 15px;
  color: white;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 6px;
}

#logo span {
  color: #ffc000;
}

#logo span1 {
  font-size: 30px;

}
#menu{
color: #fff;
}
#menu:hover {
 color:#ffc000;
}
/*navabr css end*/
#image-slide {
  height: 400px;
}

#Offer {
  color: rgb(101, 38, 119);
}

#other-cards{
  margin-top: 30px;

}
#other-cards .card{
  background-color: #a9a9a92b;
}
#shopnow
{
  width: 130px;
  height: 30px;
  margin-top: 10px;
margin-left: 10px;
letter-spacing: 3px;
color: #fff;
background-color: rgb(101, 38, 119);
font-weight: bold;
border: none;
cursor: pointer;
}
#card-images{
  height: 200px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
/*foter css start*/
.footer-main {
  padding-top: 90px;
}

.address-main.col-lg-4 {
  border-bottom: dotted 1px #999;
}

.address-box {
  padding: 10px 0;
  margin-bottom: 30px;
}

.add-icon {
  float: left;
  width: 60px;
  display: inline-block;
  padding: 0px 5px;
}

.address-box .add-icon {
  background: #27303b;
  height: 75px;
  line-height: 75px;
  width: 75px;
  margin-right: 20px;
  text-align: center;
}

.add-icon img {
  width: 100%;
}

.address-box .add-icon img {
  max-width: 40px;
}

.add-content {
  padding-left: 70px;
}

.add-content h5 {
  font-size: 17px;
  color: #ffffff;
  padding: 0;
  font-weight: 500;
  margin-bottom: 10px;
}

.add-content p {
  font-size: 13px;
  color: #999999;
  font-weight: 300;
}

.add-content p a {
  font-size: 14px;
  color: #999999;
  font-weight: 300;
  word-wrap: break-word;
}

.add-content p a:hover {
  color: #ffb32d;
}

.email {
  margin-left: 0;
  margin-bottom: 5px;
  padding: 5px;
  border: 2px solid white;
  border-radius: 3px;
}

.email:hover {
  border: 2px solid #ffc000;
}

.submit-email-btn {
  height: 25px;
  width: 130px;

  border-radius: 5px;
  border: 2px solid white;
  background-color: #ffc000;
  color: white;
}

.submit-email-btn:hover {
  color: #000;
  border: 3px solid #ffc000;
  background-color: #fff;
  transition: 0.5s;
}

.links {
  padding: 2px;
  margin: 2px;
  color: #fff;
  cursor: pointer;
}

.links:hover {
  color: #ffc000;
}
 /*foter css end*/