 /* navabr css start*/
 /* navabr css start*/
 #logo {
  margin-left: 15px;
  color: white;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 6px;
}

#logo span {
  color: #ffc000;
}

#logo span1 {
  font-size: 30px;

}
#menu{
color: #fff;
}
#menu:hover {
 color:#ffc000;
}